.container__bottom {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

.container__bottom--sub:not(:last-child) {
    margin-bottom: 4rem;
}


.container__bottom--sub {
    display: flex;
}

.container__bottom--sub img {
    height: 200px;
}

.bottom__sub {
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
    padding: 0 2rem;
}

.bottom__sub h3{
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 3rem;
    color: hsl(233, 8%, 79%);
    margin-bottom: 1.4rem;
}

.bottom__sub h4 {
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 1.8rem;
    color: hsl(240, 100%, 5%);
    margin-bottom: 1.4rem;
}

.bottom__sub p {
    font-size: 1.6rem;
    line-height: 1.5;
}

@media(min-width: 992px){
    .container__bottom {
        margin-top: 8rem;
        flex-direction: row;
    }

    .container__bottom--sub img {
        height: 150px;
    }
}